@{
    ViewData["Title"] = "Memes";
}

<div>
    <h1 class="display-4">TODO </h1>

    <ol>
        <li>Använda api https://imgflip.com/api</li>
        <li>Skapa en egen meme via api</li>
    </ol>
    
</div>
